Node-RED Flow/UI_Node-RED_Flow.json
[{"id":"67b70230.48fa6c","type":"tab","label":"UI_User_Input","disabled":false,"info":"<html>\n<style>\n    body{\n        background-image:url(\"https://cdn.britannica.com/75/114975-050-E61977EE/Wind-turbines-Tehachapi-Calif.jpg\");\n        background-size:cover;\n    }\n</style>\n<body></body>\n</html>"},{"id":"adb95456.970bb8","type":"tab","label":"UI_Cloud_Input","disabled":false,"info":""},{"id":"52c2bcea.0a9414","type":"ui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c48e83e9.9be3f","type":"ui_group","z":"","name":"Status","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"7d72f8b9.d70158","type":"ui_group","z":"","name":"Response","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"cc5f929c.1d44e","type":"ui_group","z":"","name":"Audio","tab":"13b1e90b.c88e97","order":4,"disp":true,"width":"6","collapse":false},{"id":"f6d16679.915ca8","type":"ui_group","z":"","name":"Time / Date","tab":"13b1e90b.c88e97","order":2,"disp":true,"width":"6","collapse":false},{"id":"b20d8291.a0b3f","type":"ui_group","z":"","name":"Form","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"ebd1ca29.930528","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"iekt4p.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"d078ac8f.695d5","type":"ui_group","z":"","name":"Weather Monitoring","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"16c5096e.0d7ad7","type":"ui_group","z":"","name":"UI","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"9faf99b4.15a118","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":false,"width":"27","collapse":false},{"id":"5199a69.114df58","type":"ui_group","z":"","name":"Home","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"c19b6278.33465","type":"cos-config","z":"","apiKeyId":"jh5Jw8GkcBv85XjW063W7Q9itOBYPmfenhM5bDz4u5c7","location":"ap-geo","ibmAuthEndpoint":"https://iam.ng.bluemix.net/oidc/token","endpoint":"s3.ap-geo.objectstorage.softlayer.net","serviceInstanceId":"https://control.cloud-object-storage.cloud.ibm.com/v2/endpoints","hmac":false,"accesskeyid":"","accesskey":"","name":"prediction"},{"id":"22f165f8.0c022a","type":"cos-config","z":"","apiKeyId":"jh5Jw8GkcBv85XjW063W7Q9itOBYPmfenhM5bDz4u5c7","location":"ap-geo","ibmAuthEndpoint":"https://iam.ng.bluemix.net/oidc/token","endpoint":"s3.ap-geo.objectstorage.softlayer.net","serviceInstanceId":"crn:v1:bluemix:public:cloud-object-storage:global:a/5e7c88de3bb9498ba003e31b3b4331f0:62d16fde-9ee6-4a49-b809-102844695402::","hmac":false,"accesskeyid":"","accesskey":"","name":"Prediction"},{"id":"32c5b007.56bcf","type":"ui_group","z":"","name":"Input","tab":"13b1e90b.c88e97","order":1,"disp":true,"width":"8","collapse":false},{"id":"c862b226.3f667","type":"ui_group","z":"","name":"Energy Output","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"ef45188e.e10998","type":"ui_group","z":"","name":"Predictor","tab":"","order":1,"disp":true,"width":"10","collapse":false},{"id":"638831c7.a2b42","type":"ui_group","z":"","name":"Prediction Form","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"a5ff8e16.6b218","type":"ui_group","z":"","name":"Energy Output","tab":"178059ee.1d3956","order":3,"disp":true,"width":6,"collapse":false},{"id":"13b1e90b.c88e97","type":"ui_tab","z":"","name":"Manual Input","icon":"dashboard","disabled":false,"hidden":false},{"id":"e5a0ba83.a65cc8","type":"ui_group","z":"","name":"Prediction Form","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"839ab706.992448","type":"ui_group","z":"","name":"Energy Output","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"178059ee.1d3956","type":"ui_tab","z":"","name":"Cloud Input","icon":"dashboard","disabled":false,"hidden":false},{"id":"33d9a891.e91c08","type":"ui_group","z":"","name":"Energy Output","tab":"13b1e90b.c88e97","order":4,"disp":true,"width":"6","collapse":false},{"id":"391a456.03bbdba","type":"http request","z":"67b70230.48fa6c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/add6b7cd-7881-485c-b8bf-2a625e8a2335/deployments/2590f8a2-9dfa-405c-b16d-d1a1c7a5f133/online","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":280,"wires":[["5dff3359.c1b91c"]]},{"id":"82dd925e.41dae","type":"function","z":"67b70230.48fa6c","name":"Input","func":"var t1 = global.set(\"t1\")\nvar t2 = global.set(\"t2\")\nvar t3 = global.set(\"t3\")\nvar t4 = global.set(\"t4\")\nvar t5 = global.set(\"t5\")\nvar v6 = global.set(\"v6\")\nvar v7 = global.set(\"v7\")\nvar v8 = global.set(\"v8\")\nvar v9 = global.set(\"v9\")\nvar v10 = global.set(\"v10\")\nvar v11 = global.set(\"v11\")\nvar v12 = global.set(\"v12\")\nvar v13 = global.set(\"v13\")\nvar v14 = global.set(\"v14\")\n\nvar token=msg.payload.access_token\nvar instance_id = \"add6b7cd-7881-485c-b8bf-2a625e8a2335\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": ['Minute', 'Hour', 'Day', 'Month', 'Year', 'Wind Speed (m/s)' ,'Theoretical_Power_Curve (KWh)', 'Wind Direction', 'maxtempC', 'windGustKmph', 'DewPointC', 'windChillC', 'humidity', 'pressure'],\"values\": [[t1, t2, t3, t4, t5, v6, v7, v8, v9, v10, v11, v12, v13, v14]]}\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":280,"wires":[["391a456.03bbdba","f1147a21.079d98"]]},{"id":"529f0a5b.626d94","type":"function","z":"67b70230.48fa6c","name":"Processing","func":"var apikey = \"7NRWE5AYj0sgvQeu9RI8M6qEymOldFxk2dtmbqj9LEKc\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":280,"wires":[["96ebd07d.0666d","2f5f797a.4bd206"]]},{"id":"96ebd07d.0666d","type":"http request","z":"67b70230.48fa6c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":280,"wires":[["82dd925e.41dae"]]},{"id":"e9eae5ce.450c38","type":"ui_form","z":"67b70230.48fa6c","name":"","label":"Enter othere Parameter","group":"32c5b007.56bcf","order":2,"width":"0","height":"0","options":[{"label":"Wind Speed (m/s)","value":"v6","type":"number","required":true,"rows":null},{"label":"Theoretical_Power_Curve (KWh)","value":"v7","type":"number","required":true,"rows":null},{"label":"Wind Direction","value":"v8","type":"number","required":true,"rows":null},{"label":"maxtempC","value":"v9","type":"number","required":true,"rows":null},{"label":"windGustKmph","value":"v10","type":"number","required":true,"rows":null},{"label":"DewPointC","value":"v11","type":"number","required":true,"rows":null},{"label":"windChillC","value":"v12","type":"number","required":true,"rows":null},{"label":"humidity","value":"v13","type":"number","required":true,"rows":null},{"label":"pressure","value":"v14","type":"number","required":true,"rows":null}],"formValue":{"v6":"","v7":"","v8":"","v9":"","v10":"","v11":"","v12":"","v13":"","v14":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":110,"y":120,"wires":[["9bf2d606.9b99e8"]]},{"id":"5dff3359.c1b91c","type":"function","z":"67b70230.48fa6c","name":"Parsing value for chart","func":"msg.payload=(msg.payload.values[0][0])\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":380,"wires":[["5ddfde59.2d28e","c722bfe8.29906","ae326a.a5c05d98","81e09566.7cd6f8"]]},{"id":"5ddfde59.2d28e","type":"ui_chart","z":"67b70230.48fa6c","name":"LV Activation Power","group":"33d9a891.e91c08","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1430,"y":540,"wires":[[]]},{"id":"c722bfe8.29906","type":"ui_gauge","z":"67b70230.48fa6c","name":"Live","group":"33d9a891.e91c08","order":1,"width":"0","height":"0","gtype":"donut","title":"Level","label":"","format":"","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1410,"y":500,"wires":[]},{"id":"81e09566.7cd6f8","type":"watson-text-to-speech","z":"67b70230.48fa6c","name":"","lang":"","langhidden":"","langcustom":"","langcustomhidden":"","voice":"","voicehidden":"","format":"audio/mp3","password":"","apikey":"","payload-response":false,"service-endpoint":"","x":1440,"y":340,"wires":[["33f495f1.5c5b5a"]]},{"id":"33f495f1.5c5b5a","type":"ui_audio","z":"67b70230.48fa6c","name":"","group":"cc5f929c.1d44e","voice":"en-US","always":"","x":1640,"y":340,"wires":[]},{"id":"ae326a.a5c05d98","type":"ui_text","z":"67b70230.48fa6c","group":"f6d16679.915ca8","order":2,"width":0,"height":0,"name":"","label":"Power","format":"{{msg.payload}}","layout":"col-center","x":1410,"y":460,"wires":[]},{"id":"6ad60fec.19308","type":"ui_form","z":"67b70230.48fa6c","name":"","label":"Enter Time and Date","group":"f6d16679.915ca8","order":1,"width":0,"height":0,"options":[{"label":"Minute","value":"t1","type":"number","required":true,"rows":null},{"label":"Hour","value":"t2","type":"number","required":true,"rows":null},{"label":"Day","value":"t3","type":"number","required":true,"rows":null},{"label":"Month","value":"t4","type":"number","required":true,"rows":null},{"label":"Year","value":"t5","type":"number","required":true,"rows":null}],"formValue":{"t1":"","t2":"","t3":"","t4":"","t5":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":400,"y":120,"wires":[["c77e1362.39086"]]},{"id":"fde3a3ca.60bcb","type":"function","z":"adb95456.970bb8","name":"Processing","func":"var apikey = \"7NRWE5AYj0sgvQeu9RI8M6qEymOldFxk2dtmbqj9LEKc\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["6653333f.7dbc1c"]]},{"id":"6653333f.7dbc1c","type":"http request","z":"adb95456.970bb8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":200,"wires":[["5aafe182.e3c98"]]},{"id":"5aafe182.e3c98","type":"function","z":"adb95456.970bb8","name":"Input","func":"var token=msg.payload.access_token\nvar instance_id = \"add6b7cd-7881-485c-b8bf-2a625e8a2335\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":200,"wires":[["40fc3ef8.c0e81"]]},{"id":"40fc3ef8.c0e81","type":"http request","z":"adb95456.970bb8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/add6b7cd-7881-485c-b8bf-2a625e8a2335/deployments/2590f8a2-9dfa-405c-b16d-d1a1c7a5f133/online","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":200,"wires":[["e4a50bfe.090e68"]]},{"id":"e4a50bfe.090e68","type":"function","z":"adb95456.970bb8","name":"Parsing value for chart","func":"msg.payload=0.64*(msg.payload.values[0][0])\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":200,"wires":[["450b4e9b.15532","b84df7d8.450998","b020d3f0.1f876"]]},{"id":"9fa93a5f.345728","type":"inject","z":"adb95456.970bb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":200,"wires":[["fde3a3ca.60bcb"]]},{"id":"450b4e9b.15532","type":"ui_gauge","z":"adb95456.970bb8","name":"Live","group":"a5ff8e16.6b218","order":1,"width":0,"height":0,"gtype":"donut","title":"Level","label":"","format":"","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1210,"y":340,"wires":[]},{"id":"b84df7d8.450998","type":"ui_chart","z":"adb95456.970bb8","name":"LV Activation Power","group":"a5ff8e16.6b218","order":22,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1250,"y":400,"wires":[[]]},{"id":"b020d3f0.1f876","type":"ui_text","z":"adb95456.970bb8","group":"a5ff8e16.6b218","order":21,"width":0,"height":0,"name":"","label":"Power","format":"{{msg.payload}}","layout":"col-center","x":1210,"y":280,"wires":[]},{"id":"c77e1362.39086","type":"function","z":"67b70230.48fa6c","name":"Pre-processing","func":"global.set(\"t1\",msg.payload.t1)\nglobal.set(\"t2\",msg.payload.t2)\nglobal.set(\"t3\",msg.payload.t3)\nglobal.set(\"t4\",msg.payload.t4)\nglobal.set(\"t5\",msg.payload.t5)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":200,"wires":[["529f0a5b.626d94","adcb936e.da458"]]},{"id":"2f5f797a.4bd206","type":"debug","z":"67b70230.48fa6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":360,"wires":[]},{"id":"f1147a21.079d98","type":"debug","z":"67b70230.48fa6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":140,"wires":[]},{"id":"adcb936e.da458","type":"debug","z":"67b70230.48fa6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":140,"wires":[]},{"id":"9bf2d606.9b99e8","type":"function","z":"67b70230.48fa6c","name":"Pre-processing","func":"global.set(\"v6\",msg.payload.v6)\nglobal.set(\"v7\",msg.payload.v7)\nglobal.set(\"v8\",msg.payload.v8)\nglobal.set(\"v9\",msg.payload.v9)\nglobal.set(\"v10\",msg.payload.v10)\nglobal.set(\"v11\",msg.payload.v11)\nglobal.set(\"v12\",msg.payload.v12)\nglobal.set(\"v13\",msg.payload.v13)\nglobal.set(\"v14\",msg.payload.v14)\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":200,"wires":[["6ad60fec.19308","f1771b50.a6f488"]]},{"id":"f1771b50.a6f488","type":"debug","z":"67b70230.48fa6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":360,"wires":[]}]