Node-RED Flow/UI_Node-RED_Flow_Updated.json
[{"id":"67b70230.48fa6c","type":"tab","label":"UI_User_Input","disabled":false,"info":"<html>\n<style>\n    body{\n        background-image:url(\"https://cdn.britannica.com/75/114975-050-E61977EE/Wind-turbines-Tehachapi-Calif.jpg\");\n        background-size:cover;\n    }\n</style>\n<body></body>\n</html>"},{"id":"391a456.03bbdba","type":"http request","z":"67b70230.48fa6c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/add6b7cd-7881-485c-b8bf-2a625e8a2335/deployments/2590f8a2-9dfa-405c-b16d-d1a1c7a5f133/online","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":280,"wires":[["5dff3359.c1b91c"]]},{"id":"82dd925e.41dae","type":"function","z":"67b70230.48fa6c","name":"Input","func":"var t1 = global.get(\"t1\")\nvar t2 = global.get(\"t2\")\nvar t3 = global.get(\"t3\")\nvar t4 = global.get(\"t4\")\nvar t5 = global.get(\"t5\")\nvar v6 = global.get(\"v6\")\nvar v7 = global.get(\"v7\")\nvar v8 = global.get(\"v8\")\nvar v9 = global.get(\"v9\")\nvar v10 = global.get(\"v10\")\nvar v11 = global.get(\"v11\")\nvar v12 = global.get(\"v12\")\nvar v13 = global.get(\"v13\")\nvar v14 = global.get(\"v14\")\n\nvar token=msg.payload.access_token\nvar instance_id = \"add6b7cd-7881-485c-b8bf-2a625e8a2335\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": ['Minute', 'Hour', 'Day', 'Month', 'Year', 'Wind Speed (m/s)' ,'Theoretical_Power_Curve (KWh)', 'Wind Direction', 'maxtempC', 'windGustKmph', 'DewPointC', 'windChillC', 'humidity', 'pressure'],\"values\": [[t1, t2, t3, t4, t5, v6, v7, v8, v9, v10, v11, v12, v13, v14]]}\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":280,"wires":[["391a456.03bbdba","f1147a21.079d98"]]},{"id":"529f0a5b.626d94","type":"function","z":"67b70230.48fa6c","name":"Processing","func":"var apikey = \"7NRWE5AYj0sgvQeu9RI8M6qEymOldFxk2dtmbqj9LEKc\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":280,"wires":[["96ebd07d.0666d","2f5f797a.4bd206"]]},{"id":"96ebd07d.0666d","type":"http request","z":"67b70230.48fa6c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":280,"wires":[["82dd925e.41dae"]]},{"id":"5dff3359.c1b91c","type":"function","z":"67b70230.48fa6c","name":"Parsing value for chart","func":"msg.payload=(msg.payload.values[0][0])\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":380,"wires":[["5ddfde59.2d28e","c722bfe8.29906","ae326a.a5c05d98"]]},{"id":"5ddfde59.2d28e","type":"ui_chart","z":"67b70230.48fa6c","name":"LV Activation Power","group":"33d9a891.e91c08","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1430,"y":540,"wires":[[]]},{"id":"c722bfe8.29906","type":"ui_gauge","z":"67b70230.48fa6c","name":"Live","group":"33d9a891.e91c08","order":1,"width":"0","height":"0","gtype":"donut","title":"Level","label":"","format":"","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1410,"y":500,"wires":[]},{"id":"ae326a.a5c05d98","type":"ui_text","z":"67b70230.48fa6c","group":"f6d16679.915ca8","order":2,"width":0,"height":0,"name":"","label":"Power","format":"{{msg.payload}}","layout":"col-center","x":1410,"y":460,"wires":[]},{"id":"2f5f797a.4bd206","type":"debug","z":"67b70230.48fa6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":360,"wires":[]},{"id":"f1147a21.079d98","type":"debug","z":"67b70230.48fa6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":140,"wires":[]},{"id":"adcb936e.da458","type":"debug","z":"67b70230.48fa6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":140,"wires":[]},{"id":"c77e1362.39086","type":"function","z":"67b70230.48fa6c","name":"Pre-processing","func":"global.set(\"t1\",msg.payload.t1)\nglobal.set(\"t2\",msg.payload.t2)\nglobal.set(\"t3\",msg.payload.t3)\nglobal.set(\"t4\",msg.payload.t4)\nglobal.set(\"t5\",msg.payload.t5)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":200,"wires":[["529f0a5b.626d94","adcb936e.da458"]]},{"id":"e9eae5ce.450c38","type":"ui_form","z":"67b70230.48fa6c","name":"","label":"Enter othere Parameter","group":"32c5b007.56bcf","order":2,"width":"0","height":"0","options":[{"label":"Wind Speed (m/s)","value":"v6","type":"number","required":true,"rows":null},{"label":"Theoretical_Power_Curve (KWh)","value":"v7","type":"number","required":true,"rows":null},{"label":"Wind Direction","value":"v8","type":"number","required":true,"rows":null},{"label":"maxtempC","value":"v9","type":"number","required":true,"rows":null},{"label":"windGustKmph","value":"v10","type":"number","required":true,"rows":null},{"label":"DewPointC","value":"v11","type":"number","required":true,"rows":null},{"label":"windChillC","value":"v12","type":"number","required":true,"rows":null},{"label":"humidity","value":"v13","type":"number","required":true,"rows":null},{"label":"pressure","value":"v14","type":"number","required":true,"rows":null}],"formValue":{"v6":"","v7":"","v8":"","v9":"","v10":"","v11":"","v12":"","v13":"","v14":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":110,"y":120,"wires":[["9bf2d606.9b99e8"]]},{"id":"6ad60fec.19308","type":"ui_form","z":"67b70230.48fa6c","name":"","label":"Enter Time and Date","group":"f6d16679.915ca8","order":1,"width":0,"height":0,"options":[{"label":"Minute","value":"t1","type":"number","required":true,"rows":null},{"label":"Hour","value":"t2","type":"number","required":true,"rows":null},{"label":"Day","value":"t3","type":"number","required":true,"rows":null},{"label":"Month","value":"t4","type":"number","required":true,"rows":null},{"label":"Year","value":"t5","type":"number","required":true,"rows":null}],"formValue":{"t1":"","t2":"","t3":"","t4":"","t5":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":400,"y":120,"wires":[["c77e1362.39086"]]},{"id":"9bf2d606.9b99e8","type":"function","z":"67b70230.48fa6c","name":"Pre-processing","func":"global.set(\"v6\",msg.payload.v6)\nglobal.set(\"v7\",msg.payload.v7)\nglobal.set(\"v8\",msg.payload.v8)\nglobal.set(\"v9\",msg.payload.v9)\nglobal.set(\"v10\",msg.payload.v10)\nglobal.set(\"v11\",msg.payload.v11)\nglobal.set(\"v12\",msg.payload.v12)\nglobal.set(\"v13\",msg.payload.v13)\nglobal.set(\"v14\",msg.payload.v14)\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":200,"wires":[["6ad60fec.19308","f1771b50.a6f488"]]},{"id":"f1771b50.a6f488","type":"debug","z":"67b70230.48fa6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":360,"wires":[]},{"id":"1f08408d.9e6b2f","type":"ui_template","z":"67b70230.48fa6c","group":"32c5b007.56bcf","name":"Background","order":1,"width":0,"height":0,"format":"<html>\n<style>\n    body{\n        background-image:url(\"https://github.com/SmartPracticeschool/SBSPS-Challenge-3160-Predicting-the-energy-output-of-wind-turbine-based-on-weather-condition/blob/master/Images/backgroud.jpg?raw=true\");\n        background-size:cover;\n    }\n</style>\n<body></body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":90,"y":40,"wires":[[]]},{"id":"33d9a891.e91c08","type":"ui_group","z":"","name":"Energy Output","tab":"13b1e90b.c88e97","order":4,"disp":true,"width":"6","collapse":false},{"id":"f6d16679.915ca8","type":"ui_group","z":"","name":"Time / Date","tab":"13b1e90b.c88e97","order":2,"disp":true,"width":"6","collapse":false},{"id":"32c5b007.56bcf","type":"ui_group","z":"","name":"Input","tab":"13b1e90b.c88e97","order":1,"disp":true,"width":"8","collapse":false},{"id":"13b1e90b.c88e97","type":"ui_tab","z":"","name":"Manual Input","icon":"dashboard","disabled":false,"hidden":false}]